.wrapper {
  display: flex;
  justify-content: space-around;
  width: 1132px;
  height: 174px;
  margin: 60px;
  margin-left: 120px;
}

.leftContainer {
  width: 387px;
  font-family: Inter;
  font-size: 54px;
  font-weight: 600;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: left;
}

.rightContainer {
  width: 475px;
  height: 155px;
  text-align: left;
  h1 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
  }
  p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }
}
