.button {
  width: 172px;
  height: 47px;
  top: 53px;
  left: 1116px;
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
