.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    margin-left: 0px;
    align-items: center;
    height: 80px;
    background-color: var(--color-black);
    color: var(--color-white);
}