.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 431px;
  height: 26px;
  top: 63px;
  left: 508px;
}

.content {
  height: 26px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  cursor: pointer;
}
